@import "normalize.css";

body {
	background-color: #002300;
	background-image: url(img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

body, html {
	min-height: 100%;
	height: 100%;
}

.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	position: relative;
  	top: 45%;
  	-webkit-transform: translateY(-45%);
  	-ms-transform: translateY(-45%);
  	transform: translateY(-45%);
  	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 5px #000;
}
a:hover {
	color: #ccc;
}
a.email {
	font-size: 0.9em;
}

h1 {
	max-width: 500px;
	margin: 0 auto 1.5em;
	font-size: 1em;
}

h1 img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	overflow: auto;
}

nav ul li {
	display: inline-block;
	margin: 0.5em 1em;
	font-weight: 600;
}

@media (max-width: 600px) {
	nav ul li {
		margin: 0.5em 0;
		display: block;
		width: 50%;
		float: left;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	body {
		background-image: url(img/bg_2x.jpg);
	}
}